*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000%;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: blueviolet;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
header{
    width: 100%;
    height: 600px;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(279, 67%, 19%, 0.632), hsla(324, 35%, 50%, 0.675)), url(../imagenes/fondo\ de\ pantalla.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, hsla(279, 67%, 19%, 0.632), hsla(324, 35%, 50%, 0.675)), url(../imagenes/fondo\ de\ pantalla.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: aliceblue;
    font-weight: 300;
    text-decoration: none;
    image-rendering: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50%;
    color: #ffffff;
}
.textos-header h2{
    font-size: 20px;
    font-weight: 30px;
    color: #ffffff;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
main .sobre-nosotros{
    padding: 40px 0 70px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;

}
.imagen-about-us{
    width: 48%;

}
.sobre-nosotros .contenido-texto{
    width: 48%;
}
.contenido-textos h3 span{
    background: #ad5389;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 40%;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0,0, 0, .6);
    padding: 8px;
    margin-right: 5px;

}
.contenido-textos p{
    padding: 0 0 50px 20px;
    font-weight: 300;
    text-align: justify;
}
/*galeria*/
.portafolio{
    background: #ffffff;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0,  0,  0, hsla(324, 35%, 50%, 0.675));
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transforn .5s;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;
}
.hover-galeria p{
    color: #ffffff;

}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: #c104cb;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5xp;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, hsla(324, 35%, 50%, 0.675));
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: block;

}
.cards .card > .contenido-texto-card{
    width: 60%;
    color: #ffffff;
}
.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;

}
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind{
    width: 28%;
    text-align: center;
}
.servicio-ind img{
    width: 90%;
}
.servicio-ind h3{
    margin: 10px 0;
}
.servicio-ind p{
    font-weight: 200;
    text-align: justify;
}
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}
.contenedor-foo{
    text-align: center;
}
.contenedor-foo h4{
    color: #ffffff;
    border-bottom: 3px solid #ad5389;
    padding-bottom: 5px;
    margin-bottom: 10px;

}
.contenedor-foo > p{
    color: #ccc;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos{
        width: 90%;
    }
    .imagen-about-us{
        width: 90%;
    }
    .imagen-port{
        width: 44%;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card{
        width: 90%;
    }
    .cards .card:first-child{
        margin-bottom: 30px;
    }
    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }
    .servicio-ind{
        width: 100%;
        text-align: center;
    }
    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }
    .servicio-ind img{
        width: 90%;
    }
}
@media screen and (max-width:500px) {
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 35px;
    }
    .textos-header h2{
        font-size: 20px;
    }
    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }
    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    
}
    







